node_modules/
*/node_modules/
**/*.DS_Store
**/*-secret.json
**/*.sh
.idea
.env
*/Week4/homework/ex2-transaction/node_modules
*/Week4/homework/ex2-transaction/.env
*/Week4/homework/ex1-aggregation/.env